/* date: 2018.01-01 authour: 王鹏 */

/* top区域 */
.banner-hd
 
  width: 100vw
  height: 100vh
  background: #ccc
  .bn-name
    padding: 20px
    text-align: center
    font: 80px/100px "Micsoft YaHei"
    color: #fff
  .bn-dec
    margin: 0 0 0 10px
    text-align: center
    font-size: 18px
/* nav */
.index-nav
  height: 64px
  background: #111
  .nav-dic
    margin: 0 auto 
    .nav-list
      li
        background: #111
        a
          display: block
          padding: 0 30px
          font: 20px/64px " MicrosoftYaHei"
          color: #fff
        a:hover
          color: red
          background: blue
  .meu-btn
    .btn
      margin: 12px 25px 0 0
      padding: 4px 6px 
      border: 4px solid #3c3f41
      .i-con
        display: block
        margin: 4px 0
        width: 25px
        height: 2px
        background: #111
        
/* aboutme */
.about-me
  .about-title
    padding: 40px 0 0 0
    border-bottom: 2px solid #000
    box-shadow: 6px 6px 2px #ccc
    text-align: center
    font: bold  40px/78px " MicrosoftYaHei"
  .about-dic
    padding: 136px 0 0 0 
    .ab-list
      margin: 0 110px
      padding: 40px 10px 10px 40px 
      width: 400px
      height: 220px 
      background: blue 
      box-shadow: 10px 10px 5px #111
      color: #fff
      .right-title
        font: bold  20px/30px " MicrosoftYaHei"
      .right-dec  
        font: bold  14px/20px " MicrosoftYaHei"
        text-indent: 2em
        


           
        

       
      



 

