/* 2017-12 aouthour: wp */
/* app */
.in-layout {
  margin: 0 auto;
  padding: 0 10%;
  height: 100vh;
  box-sizing: border-box; }

.in-title {
  padding: 40px 0;
  font: bold 36px/46px " MicrosoftYaHei";
  text-align: center;
  text-shadow: 5px 5px 5px #FF0000; }
  .in-title span {
    margin: 6px auto 0;
    display: block;
    width: 10%;
    border-bottom: 4px solid #e87e04; }

.in-lyoud {
  padding: 5% 0; }

@keyframes flashl {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
.banner-hd {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../image/banner (1).jpg") no-repeat center top; }
  .banner-hd video {
    display: none;
    width: 100%;
    opacity: 0.5; }
  .banner-hd .bn-cont {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #2c3e50; }
    .banner-hd .bn-cont .ba-title {
      line-height: 36px;
      font-size: 16px; }
    .banner-hd .bn-cont .ba-stite {
      font: bold 16px/36px " MicrosoftYaHei"; }
    .banner-hd .bn-cont .ba-sbtn {
      padding: 20px 0;
      font: bold 18px/46px " MicrosoftYaHei"; }
      .banner-hd .bn-cont .ba-sbtn span {
        display: inline-block;
        margin: 10px 10px;
        padding: 0 10px;
        width: 150px;
        border: 2px solid #2c3e50;
        border-radius: 5px;
        color: #2c3e50; }
      .banner-hd .bn-cont .ba-sbtn span:hover {
        color: #fff;
        cursor: pointer;
        background: #2c3e50; }

/* nav */
.indec-nav {
  padding: 0 2%;
  background: #2c3e50;
  overflow: hidden; }
  .indec-nav .nav-inner {
    position: relative;
    font: 30px/66px " MicrosoftYaHei";
    text-align: center;
    color: #fff; }
    .indec-nav .nav-inner p {
      float: none;
      text-align: left; }
    .indec-nav .nav-inner .nav-list {
      display: none;
      margin: 0;
      width: 100%;
      text-align: left; }
      .indec-nav .nav-inner .nav-list li {
        float: none;
        width: 100%; }
        .indec-nav .nav-inner .nav-list li a {
          display: inline-block;
          padding: 0 20px;
          font-size: 18px;
          color: #fff; }
        .indec-nav .nav-inner .nav-list li a:hover {
          font-size: 28px;
          color: #E87E04;
          animation: flashl 0.5s linear; }
      .indec-nav .nav-inner .nav-list li:hover {
        background: #30455a; }
    .indec-nav .nav-inner .nav-btn {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      color: #fff; }

/* aboutme */
.about-me {
  overflow: hidden;
  background: url("../image/banner4.jpg") no-repeat center center; }
  .about-me .about-dic {
    padding: 5% 0; }
    .about-me .about-dic .ab-list {
      float: none;
      padding: 20px 10px 10px 0;
      width: 80%;
      height: 220px;
      background: #002b36;
      font: 14px/30px " MicrosoftYaHei";
      color: #fff; }
      .about-me .about-dic .ab-list li {
        color: #fff;
        font: italic 20px/30px " MicrosoftYaHei"; }
      .about-me .about-dic .ab-list .right-title {
        text-align: center;
        font: bold 20px/30px " MicrosoftYaHei"; }
      .about-me .about-dic .ab-list .right-dec {
        font: italic 16px/26px " MicrosoftYaHei";
        text-indent: 2em; }
        .about-me .about-dic .ab-list .right-dec span {
          color: red; }

/*# sourceMappingURL=inde-app.css.map */
