@charset "UTF-8";
/* date: 2018.01-01 authour: 王鹏 */
/* PC */
/* pulblic */
.in-layout {
  margin: 0 auto;
  padding: 0 10%;
  height: 100vh;
  box-sizing: border-box; }

.in-title {
  padding: 40px 0;
  font: bold 36px/46px " MicrosoftYaHei";
  text-align: center;
  text-shadow: 5px 5px 5px #FF0000; }
  .in-title span {
    margin: 6px auto 0;
    display: block;
    width: 5%;
    border-bottom: 4px solid #e87e04; }

.in-lyoud {
  padding: 5% 0; }

/* flash */
@keyframes flashl {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
/* top bannner */
.banner-hd {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../image/in-app_01.jpg") no-repeat center center; }
  .banner-hd video {
    width: 100%;
    opacity: 0.5; }
  .banner-hd .bn-cont {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #2c3e50; }
    .banner-hd .bn-cont .ba-title {
      line-height: 60px;
      font-size: 35px; }
    .banner-hd .bn-cont .ba-stite {
      font: bold 30px/70px " MicrosoftYaHei"; }
    .banner-hd .bn-cont .ba-sbtn {
      padding: 20px 0;
      font: bold 18px/46px " MicrosoftYaHei"; }
      .banner-hd .bn-cont .ba-sbtn span {
        display: inline-block;
        margin: 5px 10px;
        padding: 0 10px;
        width: 150px;
        border: 2px solid #2c3e50;
        border-radius: 5px;
        color: #2c3e50; }
      .banner-hd .bn-cont .ba-sbtn span:hover {
        color: #fff;
        cursor: pointer;
        background: #2c3e50; }

/* nav */
.indec-nav {
  background: #2c3e50;
  overflow: hidden; }
  .indec-nav .nav-inner {
    font: 30px/66px " MicrosoftYaHei";
    text-align: center;
    color: #fff; }
    .indec-nav .nav-inner p {
      margin: 0 2%; }
    .indec-nav .nav-inner .nav-list {
      margin: 0 5% 0 0;
      width: 50%;
      text-align: center; }
      .indec-nav .nav-inner .nav-list li a {
        display: inline-block;
        padding: 0 20px;
        font-size: 18px;
        color: #fff; }
      .indec-nav .nav-inner .nav-list li a:hover {
        font-size: 28px;
        color: #E87E04;
        animation: flashl 0.5s linear; }
      .indec-nav .nav-inner .nav-list li:hover {
        background: #30455a; }
    .indec-nav .nav-inner .nav-btn {
      display: none;
      color: #fff; }

/* aboutme */
.about-me {
  overflow: hidden;
  background: url("../image/in-app_02.jpg") no-repeat center center; }
  .about-me .about-dic {
    padding: 5% 10%; }
    .about-me .about-dic .ab-list {
      padding: 40px 10px 10px 40px;
      width: 35%;
      height: 220px;
      background: #002b36;
      box-shadow: 0 0 10px #003259;
      font: 14px/30px " MicrosoftYaHei";
      color: #fff; }
      .about-me .about-dic .ab-list li {
        color: #fff;
        font: italic 20px/30px " MicrosoftYaHei"; }
        .about-me .about-dic .ab-list li a {
          color: #fff;
          font: italic 20px/30px " MicrosoftYaHei"; }
      .about-me .about-dic .ab-list .right-title {
        text-align: center;
        font: bold 20px/30px " MicrosoftYaHei"; }
      .about-me .about-dic .ab-list .right-dec {
        font: italic 16px/26px " MicrosoftYaHei";
        text-indent: 2em; }
        .about-me .about-dic .ab-list .right-dec span {
          color: red; }

/* skill */
.skill-me {
  background: url("../image/in-app_03.jpg") no-repeat center center;
  /* flash */ }
  .skill-me .skill-dip {
    display: table-cell;
    padding: 0 2%;
    vertical-align: middle;
    font: 20px/40px "MicrosoftYaHei"; }

/* expre-me */
.expre-me {
  background: url("../image/in-app_04.jpg") no-repeat center center; }
  .expre-me .exper-list:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1.5px;
    background: #FFF; }
  .expre-me .exper-list {
    position: relative;
    overflow: hidden; }
    .expre-me .exper-list .exper-box .expre-l1 {
      position: absolute;
      left: 50%;
      margin-left: -75px;
      padding: 30px 0 0 0;
      width: 150px;
      height: 120px;
      vertical-align: middle;
      border-radius: 50%;
      text-align: center;
      background: #fff;
      font: bold 16px/30px " MicrosoftYaHei";
      animation: flashl 10s linear infinite; }
    .expre-me .exper-list .exper-box .expre-l2 {
      padding: 40px;
      width: 35%;
      text-align: right;
      font: bold 14px/24px " MicrosoftYaHei";
      color: #333; }
      .expre-me .exper-list .exper-box .expre-l2 .l3-title {
        font: bold 20px/30px " MicrosoftYaHei";
        color: #e87d07; }
    .expre-me .exper-list .exper-box .epr-l2 {
      bottom: 0; }
    .expre-me .exper-list .exper-box .epr-l3 {
      float: right;
      text-align: left; }

/* demo */
.demo-me {
  background: url("../image/in-app_05.jpg") no-repeat center center;
  overflow: hidden; }
  .demo-me .demo-box {
    width: 110%;
    overflow: hidden; }
    .demo-me .demo-box .demo-dic {
      float: left;
      position: relative;
      perspective: 800px;
      margin: 0 1% 0;
      width: 20%; }
      .demo-me .demo-box .demo-dic .demo-bl {
        width: 100%;
        height: 222px; }
        .demo-me .demo-box .demo-dic .demo-bl img {
          width: 100%;
          height: 220px;
          border-radius: 4px; }
      .demo-me .demo-box .demo-dic .demo-no {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotateY(90deg);
        transition: 0.5s;
        width: 100%;
        height: 222px;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        color: #fff; }
  .demo-me .demo-dic:hover .demo-no {
    transform: rotateX(0deg);
    border: 2px solid #fff;
    border-radius: 4px;
    line-height: 222px;
    font-size: 20px;
    text-align: center;
    cursor: pointer; }

/* contact */
.contact-me {
  overflow: hidden;
  background: url("../image/in-app_06.jpg") no-repeat center center; }
  .contact-me .con-form {
    font: 16px/20px "MicsoftYaHei"; }
    .contact-me .con-form .con-area {
      box-sizing: border-box;
      padding: 6px 12px;
      width: 100%;
      outline: none;
      border: 1px dashed #e3e197;
      border-radius: 5px;
      overflow: auto;
      font: 16px/20px "MicsoftYaHei";
      opacity: 0.8; }
    .contact-me .con-form .con-par {
      padding: 10px 0; }
      .contact-me .con-form .con-par .con-btn {
        width: 10%;
        height: 40px;
        border: 0;
        border-radius: 2px;
        font-size: 18px;
        color: #fff;
        background: rgba(202, 10, 10, 0.93); }
      .contact-me .con-form .con-par .con-btn:hover {
        cursor: pointer;
        color: #fff;
        background: rgba(234, 28, 28, 0.77); }
  .contact-me .con-nt {
    font: bold 16px/30px "MicsoftYaHei"; }
  .contact-me hr {
    border: 1px dashed #ccc; }
  .contact-me .new-list {
    padding: 10px 0; }
    .contact-me .new-list .new-li {
      margin: 10px 0;
      padding: 4px 8px 4px 0;
      border: 1px solid #e3e197;
      border-radius: 2px; }
      .contact-me .new-list .new-li .use-cont {
        padding: 6px 4px 0 10px;
        width: 85%;
        font: 14px/24px "MicsoftYaHei"; }
      .contact-me .new-list .new-li .new-right {
        text-align: right;
        color: #111; }

/* footer */
.in-footer {
  padding: 0 10%;
  background: url("../image/in-app_07.jpg") no-repeat center center; }
  .in-footer .fter-dec {
    padding: 20px;
    height: 60px;
    text-align: center;
    font: 16px/24px "MicsoftYaHei"; }

/* alert */
.con-alert {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -150px;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  text-align: center;
  border: 2px solid #000;
  background: #fff; }
  .con-alert .al-title {
    font: bold 20px/40px "MicsoftYaHei";
    background: #000;
    color: #fff; }
  .con-alert .al-dec1 {
    font: bold 18px/90px "MicsoftYaHei"; }
  .con-alert .al-dec2 {
    font: bold 16px/26px "MicsoftYaHei"; }

/*# sourceMappingURL=index.css.map */
